*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    /* background: #f4f3f1; */
    background: #89CFF0;
    margin: clamp(.5em, 5wv, 9em);
}


/*Navigation Bar*/
/*----------------------------------------------------------------------------------------------------------------*/
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}
.bar-colored{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1010;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: #89CFF0;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: #525252;
}
.navlist{
    display: flex;
}
.navlist a{
    color: #525252;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid #525252;
}
#menu-icon{
    color: #525252;
    font-size: 35px;
    z-index: 1001;
    cursor: pointer;
    display: none;
}

@media(max-width: 1535px){
  header{
      padding: 15px 3%;
      transition: .2s;
  }
  .icons{
      padding: 0 3%;
      transition: .2s;
  }
  .scroll-down{
      right: 3%;
      transition: .2s;
  }
}
@media(max-width: 1460px){
  section{
      padding: 0 12%;
      transition: .2s;
  }
}
@media(max-width: 1340px){
  .hero-img img{
      width: 100%;
      height: auto;
  }
  .hero-text h1{
      font-size: 75px;
      margin: 0 0 30px
  }
  .hero-text h5{
      margin-bottom: 25px;
  }
}
@media(max-width: 1195px){
  section{
      padding: 0 3%;
      transition: .2s;
  }
  .hero-text{
      padding-top: 115px;
  }
  .hero-img{
      text-align: center;
  }
  .hero{
      height: 100%;
      gap: 1rem;
      grid-template-columns: 1fr;
  }
  .icons{
      display: none;
  }
  .scroll-down{
      display: none;
  }
}
@media(max-width: 990px){
  #menu-icon{
      display: block;
  }
  .navlist{
      position: absolute;
      top: 100%;
      right: -100%;
      width: 100%;
      height: 60vh;
      background: #89CFF0;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 50px 20px;
      transition: all .55s ease;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
  }
  .logo{
    color: #525252;
  }
  .navlist a{
      margin-left: 0;
      display: block;
      margin: 7px 0;
      font-size: 20px;
      color: white;
  }
  .bar-colored.open{
    transition: all .55s ease;
    color: white;
  }
  .navlist.open{
    top: 99%;
    right: 0;
  }
}
@media(max-width: 400px){
    .hero-img img{
      width: 100%;
      height: auto;
  }
}
/*----------------------------------------------------------------------------------------------------------------*/





/*Pages*/
/*----------------------------------------------------------------------------------------------------------------*/
.pages{
    min-height: 100vh;
}
/*----------------------------------------------------------------------------------------------------------------*/


/*First*/
/*----------------------------------------------------------------------------------------------------------------*/
.first{
    padding: 0 5% 0 5%;
}
.verbs{
    margin: 10% 0 5% 0;
    min-height: 50vh;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 1% 0 5% 0;
    text-align: center;
    line-height: 3em;
}
.verbs h2{
    margin: 5% 0 5% 0;
}
.irregular-verbs{
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    gap: 2rem;
}
/*----------------------------------------------------------------------------------------------------------------*/

/*Seconds*/
/*----------------------------------------------------------------------------------------------------------------*/
.second{
    padding: 0 5% 0 5%;
}
.tenses-aux{
    margin: 10% 0 5% 0;
    min-height: 50vh;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 1% 0 5% 0;
    text-align: center;
    line-height: 3em;
}
.tenses{
    padding: 1%;
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
    gap: 2rem;   
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
/*----------------------------------------------------------------------------------------------------------------*/

/*Third*/
/*----------------------------------------------------------------------------------------------------------------*/
.third{
    padding: 0 5% 0 5%;
}
.articles-aux{
    margin: 10% 0 5% 0;
    min-height: 50vh;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 1% 0 5% 0;
    text-align: center;
    line-height: 3em;
}
.articles{
    padding: 1%;
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
    gap: 2rem;   
}
.articles th, td {
    padding: 15px;
    border: 2px solid #000;
}
.articles th {
    background-color: #026b5d;
    color: white;
    font-size: 22px;
}
.articles .a-an {
    background-color: #2a9d8f;
    color: white;
}
.articles .the {
    background-color: #264653;
    color: white;
}
.articles .no-article {
    background-color: #e76f51;
    color: white;
}
/*----------------------------------------------------------------------------------------------------------------*/

/*Fourth Page*/
/*----------------------------------------------------------------------------------------------------------------*/
.fourth{
    padding: 0 5% 0 5%;
}
.uop-aux{
    margin: 10% 0 5% 0;
    min-height: 50vh;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 1% 0 5% 0;
    text-align: center;
    line-height: 3em;
}
.uop{
    padding: 1%;
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
    gap: 2rem;   
}
.uop table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}
.uop th, td {
    padding: 15px;
    border: 2px solid #000;
}
.uop th {
    background-color: #026b5d;
    color: white;
    font-size: 22px;
}
.uop .a-an {
    background-color: #2a9d8f;
    color: white;
}
.uop .the { background-color: #264653;
    color: white;
}
.uop .no-article { background-color: #e76f51;
    color: white;
}
.uop .punctuation-section{
    width: 100%;
    margin: 20px auto;
    background-color: #ffffff;
    border: 2px solid #000;
    text-align: left;
}
.punctuation-section h2{
    background-color: #026b5d;
    color: white;
    padding: 10px;
}
.punctuation-section ul{
    padding: 20px;
}
/*----------------------------------------------------------------------------------------------------------------*/
@media(max-width: 1195px){
}
@media(max-width: 900px){
}
@media(max-width: 440px){
  .grammar h2, .literature h2{
    font-size: 30px;
  }
  .align{
    grid-template-columns: repeat(1, 1fr);
  }
}

/*Footer*/
/*----------------------------------------------------------------------------------------------------------------*/
footer{
    background: #111;
  }
  .footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
  }
  .socialIcons{
    display: flex;
    justify-content: center;
  }
  .socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
  }
  .socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
  }
  /* Hover affect on social media icon */
  .socialIcons a:hover{
    background: #111;
    transition: 0.5s;
  }
  .socialIcons a:hover i{
    color: white;
    transition: 0.5s;
  }
  .footerNav{
    margin: 30px 0;
  }
  .footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  .footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
  
  }
  .footerNav ul li a:hover{
    opacity: 1;
  }
  .footerBottom{
    padding: 20px;
    text-align: center;
  }
  .footerBottom p, .footerBottom a{
    color: white;
  }
  .designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
  }
  @media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
  }
  /*----------------------------------------------------------------------------------------------------------------*/