*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    color: white;
    background: #009BE1;
    margin: clamp(.5em, 5wv, 9em);
}

/*Navigation Bar*/
/*----------------------------------------------------------------------------------------------------------------*/
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}
.bar-colored{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1010;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: #009BE1;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: #525252;
}
.navlist{
    display: flex;
}
.navlist a{
    color: #525252;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid #525252;
}
#menu-icon{
    color: #525252;
    font-size: 35px;
    z-index: 1001;
    cursor: pointer;
    display: none;
}

@media(max-width: 1535px){
  header{
      padding: 15px 3%;
      transition: .2s;
  }
  .icons{
      padding: 0 3%;
      transition: .2s;
  }
  .scroll-down{
      right: 3%;
      transition: .2s;
  }
}
@media(max-width: 1460px){
  section{
      padding: 0 12%;
      transition: .2s;
  }
}
@media(max-width: 1340px){
  .hero-img img{
      width: 100%;
      height: auto;
  }
  .hero-text h1{
      font-size: 75px;
      margin: 0 0 30px
  }
  .hero-text h5{
      margin-bottom: 25px;
  }
}
@media(max-width: 1195px){
  section{
      padding: 0 3%;
      transition: .2s;
  }
  .hero-text{
      padding-top: 115px;
  }
  .hero-img{
      text-align: center;
  }
  .hero{
      height: 100%;
      gap: 1rem;
      grid-template-columns: 1fr;
  }
  .icons{
      display: none;
  }
  .scroll-down{
      display: none;
  }
}
@media(max-width: 990px){
  #menu-icon{
      display: block;
  }
  .navlist{
      position: absolute;
      top: 100%;
      right: -100%;
      width: 100%;
      height: 60vh;
      background: #009BE1;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 50px 20px;
      transition: all .55s ease;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
  }
  .logo{
    color: #525252;
  }
  .navlist a{
      margin-left: 0;
      display: block;
      margin: 7px 0;
      font-size: 20px;
      color: white;
  }
  .bar-colored.open{
    transition: all .55s ease;
    color: white;
  }
  .navlist.open{
    top: 99%;
    right: 0;
  }
}
@media(max-width: 400px){
    .hero-img img{
      width: 100%;
      height: auto;
  }
}
/*----------------------------------------------------------------------------------------------------------------*/



.pages{
    min-height: 100vh;
    padding: 0 5% 0 5%;
}
.title{
    margin: 10% 0 5% 0;
    text-align: center;
    font-size: 40px;

}
.level-buttons{
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 0 6.5% 0 6.5%;
}
.level-buttons h2{
    font-size: 50px;
}
.level-buttons a{
    border: transparent;
    background: #FF6B6B;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}
.sub-title{
    padding: 0 2% 0 2%;
    font-size: 30px;
    margin-top: 10%;
}
.levels{
    padding: 1%;
    margin: 2%;
    color: black;
    background: #EAEFF2;
    border-radius: 25px;
    min-height: 25vh;
}
textarea{
    padding: 1%;
    width: 100%;
    min-height: 200px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
}
.down{
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    gap: 2rem;
}
.send{
    padding: 5%;
}
.send h2{
    margin-bottom: 5%;
}
.send button{
    width: 300px;
    height: 100px;
    border-radius: 25px;
    border: transparent;
    color: white;
    background: #89CFF0;
    font-size: 40px;
    cursor: pointer;
}

/*Upload*/
/*----------------------------------------------------------------------------------------------------------------*/
.wrapper{
    display: flex;
    padding: 15px;
    width: 100%;
}
.box{
    max-width: 100%;
    min-height: 300px;
    background: #fff;
    padding: 30px;
    width: 100%;
    border-radius: 10px;
}
.upload-area-title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}
.uploadlabel{
    width: 100%;
    min-height: 60px;
    background: #18a7ff0d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed #18a7ff82;
    cursor: pointer;
}
.uploadlabel span{
    font-size: 70px;
    color: #18a7ff;
}
.uploadlabel p{
    color: #18a7ff;
    font-size: 20px;
    font-weight: 800;
    font-family: cursive;
}
.uploaded{
    margin: 30px 0;
    font-size: 16px;
    font-weight: 700;
    color: #a5a5a5;
}
.showfilebox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px 15px;
    box-shadow: #0000000d 0px 0px 0px 1px, #d1d5db3d 0px 0px 0px 1px inset;
}
.showfilebox .left{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.filetype{
    background: #18a7ff;
    color: #fff;
    padding: 5px 15px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 3px;
}
.left h3{
    font-weight: 600;
    font-size: 18px;
    color: #292F42;
    margin: 0;
}
.right span{
    background: #18a7ff;
    color: #fff;
    width: 25px;
    height: 26=5px;
    font-size: 25px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}
/*----------------------------------------------------------------------------------------------------------------*/

/*Send Essay*/
/*----------------------------------------------------------------------------------------------------------------*/
.confirmation{
    margin-top: 10px;
    font-size: 16px;
    color: green;
    display: none;
}
/*----------------------------------------------------------------------------------------------------------------*/

@media(max-width: 1195px){
}
@media(max-width: 900px){
}
@media(max-width: 440px){
    .title{
        font-size: 30px;
    }
    .level-buttons{
        grid-template-columns: repeat(1, 1fr);
    }
    .level-buttons a{
        margin-left: 15%;
    }
    .levels{
        padding: 3%;
    }
    .down{
        grid-template-columns: repeat(1, 1fr);
    }
    .send button{
        width: 220px;
        height: 100px;
        font-size: 35px;
    }
}

/*Footer*/
/*----------------------------------------------------------------------------------------------------------------*/
footer{
    background: #111;
  }
  .footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
  }
  .socialIcons{
    display: flex;
    justify-content: center;
  }
  .socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
  }
  .socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
  }
  /* Hover affect on social media icon */
  .socialIcons a:hover{
    background: #111;
    transition: 0.5s;
  }
  .socialIcons a:hover i{
    color: white;
    transition: 0.5s;
  }
  .footerNav{
    margin: 30px 0;
  }
  .footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  .footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
  
  }
  .footerNav ul li a:hover{
    opacity: 1;
  }
  .footerBottom{
    padding: 20px;
    text-align: center;
  }
  .footerBottom p, .footerBottom a{
    color: white;
  }
  .designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
  }
  @media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
  }
  /*----------------------------------------------------------------------------------------------------------------*/